body {
    height: 100vh;
}
.aside {
    width: 400px;
    height: 100vh;
    flex-shrink: 0;
    background: linear-gradient(135deg, #021758 11.13%, #020111 100%);  
}
.avatar {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 200px;
    background-image: url(img/myPhoto.jpg);
    background-size: cover;
    margin: 50px 100px 0 100px;
    float: left;
}
.block {
    float: left;
    margin: 50px 80px 0 50px;
    width: 275px;
}
.nav {
    color: #FFF;
    font-size: 24px;
    font-family: 'Inria Serif', serif;
    margin: 0 0 20px 0;

}
.underline {
    width: 50px;
    height: 2px;
    background: #FFF;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.name {
    font-family: 'Inria Sans', sans-serif;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}
.text {
    color: #FFF;
    font-size: 16px;
    font-family: 'Inria Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 5px;
}
.languages {
    display: flex;
    flex-flow: row wrap;
}
.lang {
    /* display: inline-block; */
}
.circle {
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    display: inline-block;
    margin-left: 2px;
}
.circles {
    order: 999;
    margin-left: auto;
    margin-top: 25px;
}
.grey {
    background: #848484;;
}