main {
    width: 1440px;
    margin: 0 auto;
    border: 1px solid #000;
}
header {
    width: 1440px;
    height: 90px;
    background: #0C0C0E;
    color: white;
    display: flex;
    flex-direction: row;
    margin: auto;
}
.site-name {
    color: #FFF;
    font-family: 'Forum', cursive;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    margin: 20px;
}
nav {
    margin-left: auto;
    margin-right: 40px;
}
.header-nav {
    display: flex;
    margin: 20px;
}
.header-nav li {
    margin: 0 15px;
    list-style-type: none;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}
.profile {
    width: 28px;
    height: 28px;
    margin: 31px 20px 31px 0;
}
.main-banner {
    background-image: url(img/bg.png);
    width: 1440px;
    height: 600px;
    position: relative;
}
.main-banner-text {
    text-align: center;
    display: flex;
    padding: 35px 40px;
    justify-content: center;
    align-items: center;
    background-color: #0C0C0E;
    position: absolute;
    margin-top: 220px;
}
.main-banner-text h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Forum', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    width: 520px;
    margin: 0;
}
.overlay {
    position: absolute;
    width: 1440px;
    height: 300px;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}
h2 {
    color: #0C0C0E;
    font-family: 'Forum', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    margin: 20px 0;
}
.black-line {
    width: 50px;
    height: 1px;
    background: #0C0C0E;
    margin: auto;
}
.orange-line {
    width: 60px;
    height: 1px;
    background: #BB945F;
}
.text-about {
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-top: 40px;
}
.about-photos {
    height: 560px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
.slider {
    display: flex;
    justify-content: center;
}
.slider input {
    display: none;
}
.slider label {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #0C0C0E;
    cursor: pointer;
    margin: 20px 10px;
}
#button1:checked ~ #hw1,
#button2:checked ~ #hw2,
#button3:checked ~ #hw3,
#button4:checked ~ #hw4 {
    background: #BB945F;
}
.favorites {
    margin: 40px 20px;
}
h3 {
    color: #000;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 40px 0;
}
.seasons-menu label {
    margin-right: 85px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.seasons-menu input {
    margin-right: 20px;
}
.seasons-menu input:checked {
    accent-color: #000000;
}
#winter:checked ~ #winter-label,
#spring:checked ~ #spring-label,
#summer:checked ~ #summer-label,
#autumn:checked ~ #autumn-label {
    font-weight: 700;
}
.book-bg {
    width: 590px;
    height: 555px;
    margin-top: 40px;
}
.first-line-books {
    display: flex;
    justify-content: space-between;
}
.second-line-books {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.book {
    width: 550px;
    height: 555px;
    border: 1px solid #000;
    position: relative;
}
.book-content {
    margin: 15px 20px;
}
.book-content h4 {
    margin: 0;
    color: #000;
    font-family: 'Forum', cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.book-content h5 {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    margin: 20px 0;
    position: relative;
}
.book-describe {
    width: 355px;
}
.book-describe p {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.buy {
    width: 75px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    background-color: #FFF;
    position: absolute;
    left: 20px;
    bottom: 15px;
}
.own {
    width: 75px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #BB945F;
    color: #BB945F;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    background-color: #FFF;
    position: absolute;
    left: 20px;
    bottom: 15px;
}
#image-book1 {
    width: 200px;
    height: 300px;
    background-image: url(img/book\ 1.png);
    position: absolute;
    top: 256px;
    left: 390px;
}
#image-book2 {
    width: 200px;
    height: 300px;
    background-image: url(img/book\ 2.png);
    position: absolute;
    top: 256px;
    left: 390px;
}
#image-book3 {
    width: 200px;
    height: 300px;
    background-image: url(img/book\ 3.png);
    position: absolute;
    top: 256px;
    left: 390px;
}
#image-book4 {
    width: 200px;
    height: 300px;
    background-image: url(img/book\ 4.png);
    position: absolute;
    top: 256px;
    left: 390px;
}
.coffee-shop {
    margin-top: 60px;
}
.coffee-shop h3 {
    width: 1400px;
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
}
.menu {
    margin: 40px 20px 60px 20px;
    display: flex;
    justify-content: space-between;
}
.coffee {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}
.coffee h4 {
    color: #BB945F;
    font-family: 'Forum', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    margin: 0;
}
.coffee ul {
    list-style-type:  none;
    margin: 0;
    padding: 0;
}
.coffee li {
    display: flex;
    margin-bottom: 40px;
}
.menu-line {
    width: 100px;
    height: 1px;
    background: #BB945F;
    margin: 19px 60px;
}
.coffee-name {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    width: 200px;
}
.coffee-price {
    color: #000;
    font-family: 'Forum', cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
}
.menu p {
    margin: 0;
}
.desserts h4 {
    color: #BB945F;
    font-family: 'Forum', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    margin: 0;
}
.desserts ul {
    list-style-type:  none;
    margin: 0;
    padding: 0;
}
.desserts li {
    display: flex;
    margin-bottom: 40px;
}
.menu-line {
    width: 100px;
    height: 1px;
    background: #BB945F;
    margin: 19px 60px;
}
.desserts-name {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    width: 215px;
    text-align: right;
}
.desserts-price {
    color: #000;
    font-family: 'Forum', cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
}
.menu p {
    margin: 0;
}
.desserts {
    display: flex;
    width: 482px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
}